@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   <form asp-controller="="Home" asp-action="Index" method="post">
       <input name="txtname" type="text"/>
       <input type="submit" value="Submit" />

   </form> 
</div>
